<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runnatica.runnatica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_index"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_index"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Informacion"></activity>
        <activity android:name=".reCaptcha" />
        <activity android:name=".informacion_inscrito" />
        <activity android:name=".lista_inscritos" />
        <activity android:name=".Subir_Resultados" />
        <activity android:name=".vista1_organizador" />
        <activity android:name=".pagarInscripciones" />
        <activity android:name=".agregarForaneo" />
        <activity android:name=".editar_competencia2" />
        <activity android:name=".borrar_competencia" />
        <activity android:name=".cancelar_competencia" />
        <activity android:name=".posponer_competencia" />
        <activity android:name=".editar_competencia" />
        <activity android:name=".ajustes_organizador" />
        <activity android:name=".historial_organizador" />
        <activity android:name=".home_organizador" />
        <activity android:name=".Centrodeayuda" />
        <activity android:name=".EditarContrasena" />
        <activity android:name=".VerPerfil" />
        <activity android:name=".FelicidadesCompetidor" />
        <activity android:name=".MetodoPago" />
        <activity android:name=".InscripcionForaneo" />
        <activity android:name=".InscripcionesCompetidor" />
        <activity android:name=".AvisoPrivacidad" />
        <activity android:name=".Cerrar_sesion" />
        <activity android:name=".Ubicacion" />
        <activity android:name=".Notificaciones" />
        <activity android:name=".Editar_perfil" />
        <activity android:name=".DetallesTransaccion" />
        <activity android:name=".Donaciones" />
        <activity android:name=".Felicidades_Inscripcion" />
        <activity android:name=".Tipos_Inscripciones" />
        <activity android:name=".crear_inscripcion" />
        <activity android:name=".crear_competencia" />
        <activity android:name=".ajustes_competidor" />
        <activity android:name=".historial_competidor" />
        <activity android:name=".busqueda_competidor" />
        <activity android:name=".carrera_vista1" />
        <activity android:name=".home" />
        <activity android:name=".terminosycondiciones" />
        <activity android:name=".logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registro_usuario" />
        <activity android:name=".Login" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="$[applicationId].provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />
    </application>

</manifest>